@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("http://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext");
@import url("messages/messages.css");

body{
    font-family: 'Abril Fatface', cursive;
    background-image: url("images/Elegant_Background-10.jpg");
}

#header {
    margin-bottom: 1em;
}

#headerWrapper {
    width:950px;
    min-width: 950px;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    /* fix max-width incompatibility in IE6 */
    width:expression(document.body.clientWidth > 950? "950px": "auto" );

    background-image: url("images/denim.png");

    overflow:hidden;
    display:block;

}

#header h1 {
    color: #902e07;
}

#footer  a {
    color: #648C1D;
}

#footerWrapper {
    min-width: 950px;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    /* fix max-width incompatibility in IE6 */
    width:expression(document.body.clientWidth > 950? "950px": "auto" );

    background-image: url("images/denim.png");

    overflow:hidden;
    /*display:block;*/

}

#wrapper {
    width:950px;
    min-width: 950px;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    /* fix max-width incompatibility in IE6 */
    width:expression(document.body.clientWidth > 950? "950px": "auto" );

    background-image: url("images/denim.png");

    overflow:hidden;
    display:block;

}

/* header and footer elements */

#main {
    overflow:hidden;
    display:box;
}

#menu {
    position:relative;
    float:left;
    left:0px;
    width:220px;
    margin-right:15px;
}

#menu ul, #menu li {
    list-style: none;
    margin: 0;
    padding: 0px;
    font-weight: bold;
}

#menu li {
    padding-left: 1em;
}


#menu h1:hover, #menu h2:hover, #menu h3:hover {
    color: #395111;
    /*background: #403f45;*/
}

#menu a {
    display: block;
    color:#648C1D;
    text-decoration: none;
}

#menu h2.active, #menu h3.active {
    color: #395111;
}

